
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between !important;
}

mat-form-field {
  display: block;
  height: 100px;
}

mat-checkbox {
  display: block;
}
